
/*elements, grouped by types */

.categories-title {
    margin: 80px 0 0 668px;
    width: 126px;
}

.participants-title {
    margin: 80px 0 0 669px;
}

.festivals-title {
    margin: 80px 0 0 669px;
}

.categories-btn,
.participants-btn,
.festivals-btn {
    padding: 8px 10px;
    font-size: 22px;
    border: none;
    color: #b29085;
    background-color: rgba(31, 20, 16, 0.64);
}

.categories-btn {
    margin-top: 10px;
    margin-left: 673px;
}

.participants-btn {
    margin-top: 10px;
    margin-left: 664px;
}

.festivals-btn {
    margin-top: 170px;
    margin-left: 682px;
}

[class *= "users-scroller"] {
    width: 181px;
    height: 100px;
}

.categories-scroller {
    width: 819px;
    height: 218px;
}

.users-scroller {
    width: 217px;
    height: 100px;
}

.participants-scroller {
    width: 1489px;
}

.festivals-scroller {
    width: 1092px;
}

.festivals-scroller .edit-category-btn {
    margin-left: 50px;
}

.festivals-scroller .delete-category-btn {
    margin-left: 20px;
}

.festival-info-scroller {
    margin-top: 20px;
    margin-left: 33px;
    width: 366px;
    height: 400px;
}

[id *="container"]:not(#users-categories-container):not(#participants-container):not(#festivals-container) {
    position: fixed;
    top: 0;
    margin: auto;
    width: 1519px;
    height: 100%;
    display: none;
    overflow: hidden;
    z-index: 5;
    background-color: rgba(71, 56, 51, 0.86);
}

#users-categories-container {
    margin-top: 27px;
}

#users-categories-container .checkbox-box {
    color: #2d3347;
}

#users-categories-container p {
    font-weight: bold;
    text-align: center;
    color: #353e4e;
}

#users-categories-container ul {
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}

#users-categories-container li {
    color: #272d39;
}

#active-users-box p {
    margin-top: 20px;
}

#awaiting-users-box p {
    margin-top: 1px;
}

#participants-container {
    margin-top: 30px;
}

#participants-container button {
    color: #23394cc7;
    background-color: rgba(137, 103, 97, 0.68);
}

#festivals-container {
    margin-top: 30px;
    margin-bottom: 40px;
}

[id *= "users"][id *= "box"] {
    padding: 25px;
    width: 180px;
    display: inline-block;
    float: left;
    font-family: Lato, sans-serif;
    font-size: 20px;
    border-radius: 8px;
    border: solid medium #505868;
    background-color: rgba(120, 87, 88, 0.44);
}

#active-users-box {
    margin-left: 32px;
}

#awaiting-users-box {
    margin-top: -220px;
    margin-right: 32px;
    padding: 25px 25px 23px;
    float: right;
}

div:not(.advanced-search) > .checkbox-box > .check-mark {
    position: unset;
    margin-top: 4px;
    margin-right: 12px;
    float: right;
}

div:not(.advanced-search) > .checkbox-box input:checked ~ .check-mark::after {
    position: unset;
    margin-top: 4px;
    margin-right: 8px;
    display: block;
    float: right;
}

div:not(.advanced-search) > .checkbox-box > .check-mark, input[type="checkbox"] {
    position: unset;
    margin-top: 4px;
    margin-right: 12px;
    width: 23px;
    height: 23px;
    float: right;
}

#categories-box {
    margin-left: 165px;
    height: 218px;
    width: 690px;
}

#participants-box {
    margin-left: 32px;
    height: 340px;
}

#festivals-box {
    margin-left: 432px;
    height: 280px;
}

[id *= "category"][id *= "box"],
[id *= "participant"][id *= "box"]:not(#participants-box){
    margin-top: 260px;
    margin-left: 650px;
}

[id *= "festival"][id *= "box"]:not(#festivals-box) {
    margin-top: 90px;
    margin-left: 540px;
}

#categories-box button,
#participants-container button,
#festivals-container button {
    margin-bottom: 4px;
    padding: 8px 20px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #262a3ad9;
    background-color: rgba(113, 84, 74, 0.63);
}

[id *= "new"][id *= "form"] {
    background-color: #ac8a83;
}

[id *= "edit"][id  *= "form"] {
    background-color: #8e6e66;
}

[id *= "festival"][id *= "form"] {
    padding-right: 40px;
    width: 400px;
    height: 622px;
    border-radius: 8px;
}

input {
    border: solid medium rgba(105, 81, 81, 0.92);
}

[id *= "festival"][id *= "form"] input {
    margin-left: 115px;
    margin-top: 20px;
}

table th {
    height: 65px;
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: bold;
}

table td {
    font-family: Lato, sans-serif;
    font-size: 20px;
}

.movie-participants-tbl,
.movie-festivals-tbl {
    border-collapse: collapse;
    display: inline-block;
    border-spacing: 0;
}

.movie-categories-tbl {
    width: 94%;
    z-index: 1;
    background-color: rgba(78, 43, 40, 0.39);
}

.movie-categories-tbl th,
.movie-categories-tbl td {
    color: #1e3242;
}

.movie-categories-tbl td {
    text-align: center;
    color: #23394c;
}

.edit-category-btn {
     margin-left: 40px;
}

.delete-category-btn {
    margin-left: 30px;
}

.col-category {
    padding-left: 100px;
}

.col-category-options {
    padding-left: 80px;
}

[class *= "col-participants"] {
    width: 200px;
    color: rgba(3, 6, 34, 0.73);
    background-color: rgba(69, 78, 117, 0.26);
}

.col-participants-name {
    padding-left: 200px;
    padding-right: 0;
}

.col-participants-role {
    padding-left: 80px;
    padding-right: 0
}

.col-participants-main {
    padding-left: 100px;
    padding-right: 0;
}

.col-participants-options {
    padding-right: 206px;
    padding-left: 70px;
}

.movie-participants-tbl button {
    color: #1b3850;
}

[class *= "col-festival"] {
    padding: 18px;
    width: 285px;
    color: #213648;
    background-color: rgba(64, 28, 28, 0.34)
}

.col-festival-name {
   padding-left: 0;
}

.col-festival-options {
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 60px;
}

.row-category {
    padding-left: 100px;
}

.row-category-options {
    padding-top: 8px;
    padding-left: 50px;
}

[class *= "row-participants"] {
    color: rgb(68, 77, 93);
}

.row-participants-name {
    padding-left: 250px;
}

.row-participants-role {
    padding-left: 158px;
}

.row-participants-main {
    padding-left: 180px;
}

.row-participants-options {
    padding: 20px 0 21px 40px;
}

[class *= "row-festival"] {
    padding: 18px;
    text-align: center;
    background-color: rgba(64, 28, 28, 0.34);
    color: #213648;
}

.festival-info {
    position: relative;
    margin-left: 8px;
    margin-right: 0;
    width: 91%;
    float: none;
}

[id *= "description-text"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 88%;
    height: 1240px;
    text-align: left;
}

#edit-festival-description-text {
    color: rgba(14, 10, 13, 0.71);
    background-color: rgba(179, 154, 147, 0.55);
}

[id *= "category"][id *= "btn"],
[id *= "participant"][id *= "btn"] {
    margin-top: 190px;
    margin-right: 570px;
    float: right;
}

[id *= "festival"][id *= "btn"] {
    margin-top: 20px;
    margin-right: 475px;
    float: right;
}

[id *= "submit"] {
    color: rgba(34, 5, 10, 0.76);
    background-color: #7b635e;
}

[id *= "submit"][id *= "festival"] {
    margin-left: 20px;
}

@media screen and (max-width: 500px) {

    .users-categories-container,
    #active-users-box,
    #awaiting-users-box,
    .categories-scroller {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        display: block;
        float: none;
    }

    [class *= "title"] {
        position: relative;
        margin-top: 584px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }

    .participants-title {
        margin-top: 585px;
    }

    .festivals-title {
        margin-top: 50px;
    }

    .categories-btn,
    .participants-btn,
    .festivals-btn {
        margin: 20px auto auto;
        width: 119px;
        display: block;
        font-size: 22px;
    }

    .festivals-btn {
        position: unset;
        height: unset;
        font-weight: normal;
        border-radius: 0;
    }

    .categories-scroller,
    .participants-scroller,
    .festivals-scroller {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        display: block;
        float: none;
    }

    .categories-scroller {
        margin: 505px auto auto auto;
        width: 85%;
    }

    .participants-scroller {
        margin: 35px auto auto auto;
        width: 95%;
    }

    .festivals-scroller {
        margin: 32px auto auto auto;
        width: 95%;
    }

    .festival-info-scroller {
        margin-top: 20px;
        margin-left: 0;
        width: 95%;
        height: 300px;
    }

    [id*="container"]:not(#users-categories-container):not(#participants-container):not(#festivals-container) {
        margin: auto;
        width: 100%;
        float: none;
        z-index: 5;
    }

    #participants-container,
    #festivals-container {
        position: relative;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
        float: none;
    }

    #active-users-box {
        margin-top: -706px;
    }

    #awaiting-users-box {
        margin-top: -770px;
    }

    #active-users-box p,
    #awaiting-users-box p {
        margin-top: -5px;
        margin-bottom: 32px;
    }

    #categories-box,
    #participants-box,
    #festivals-box {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        float: none;
        text-align: center;
    }

    #categories-box {
        margin: 0 auto;
    }

    #participants-box {
        margin: auto;
    }

    #festivals-box {
        margin: 0 auto auto auto;
    }

    [id*="festival"][id*="box"]:not(#festivals-box) {
        margin: 300px auto;
        width: 90%;
    }

    .festival-info {
        width: 95%;
        margin-right: 0;
        margin-left: auto;
        float: none;
        position: relative;
    }

    #edit-festival-form,
    #new-festival-form {
        margin: auto;
        position: relative;
        padding-right: 0;
        width: 100%;
        height: 522px;
        text-align: center;
    }

    #new-category-form input[type=text],
    #edit-category-form input[type=text],
    #new-participant-form input[type=text],
    #edit-participant-form input[type=text] {
        width: 80%;
    }

    #new-festival-form input[type=text],
    #edit-festival-form input[type=text],
    input[type=url] {
        position: relative;
        margin: 20px auto;
        width: 76%;
        float: none;
    }

    input[type=url] {
        margin: auto;
        width: 73%;
    }

    [id*="festival"][id*="form"] input {
        margin-left: 0;
        margin-top: 0;
    }

    #edit-festival-description-text {
        color: rgba(14, 10, 13, 0.71);
        background-color: rgba(179, 154, 147, 0.55);
    }

    #festival-description-text,
    #edit-festival-description-text {
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
    }

    .movie-categories-tbl {
        width: 100%;
    }

    .movie-participants-tbl {
        width: 100%;
        display: unset;
    }

    .movie-festivals-tbl {
        width: 100%;
        display: table;
    }

    .movie-categories-tbl th,
    .movie-participants-tbl th,
    .movie-festivals-tbl th,
    .row-participants-main {
        display: none;
    }

    .row-category,
    .row-category-options {
        position: relative;
        margin: auto;
        padding: 18px 0 18px 0;
        display: block;
        float: none;
        font-size: 22px;
        text-align: center;
    }

    .edit-category-btn,
    .delete-category-btn,
    .festivals-scroller .edit-category-btn,
    .festivals-scroller .delete-category-btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .row-participants-name,
    .row-participants-role,
    .row-participants-options {
        position: relative;
        margin: auto;
        padding: 18px 0 18px 0;
        display: block;
        float: none;
        font-size: 22px;
        text-align: center;
    }

    .row-participants-role {
        padding-top: 0;
    }

    .row-festival-name,
    .row-festival-options {
        margin: auto;
        position: relative;
        padding: 18px 0 18px 0;
        display: block;
        float: none;
        text-align: center;
        font-size: 22px;
    }

     #new-category-close-btn,
     #edit-category-close-btn,
     #new-participant-close-btn,
     #edit-participant-close-btn,
     #new-festival-close-btn,
     #edit-festival-close-btn {
         margin: 130px auto;
     }

     #new-festival-close-btn,
     #edit-festival-close-btn {
         margin: 280px auto auto auto;
     }

     #new-participant-close-btn,
     #edit-participant-close-btn {
         margin: 160px auto;
     }

     #submit-festival,
     #submit-festival-changes {
         margin-left: auto;
     }
}