.checkbox-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-mark {
    top: 0;
    left: 0;
    background-color: rgba(59, 70, 95, 0.29);
}

.checkbox-box input:checked ~ .check-mark {
    background-color: rgba(35, 52, 78, 0.83);
}

.checkbox-box:hover input ~ .check-mark {
    background-color: rgba(62, 71, 102, 0.62);
}

.checkbox-box:hover input:checked ~ .check-mark {
    background-color: rgba(35, 52, 78, 0.83);
}

.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-box input:checked ~ .check-mark:after {
    display: block;
}

.checkbox-box .check-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #b19a8f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

[class *= "title"] {
    padding: 8px 30px;
    width: 110px;
    font-family: Lato, sans-serif;
    font-size: 24px;
    text-align: center;
    border: solid medium #523a30;
    color: #3b2f2a;
}

[class *= "scroller"]{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(37, 38, 53, 0.85) #95766f;
    scrollbar-width: thin;
}

[id *= "form"] {
    position: relative;
    padding: 10px 50px 10px 0;
    width: 180px;
    font-family: Lato, sans-serif;
    border-radius: 10px;
    background-color: rgba(120, 87, 88, 0.44);
}

[id *= "submit"]{
    margin: 20px 0 0 24px;
    padding: 10px 0;
    width: 100%;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

input[type=text],
input[type=password],
input[type=url]{
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
    width: 181px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    background-color: rgba(216, 207, 203, 0.55);
}

::placeholder {
    font-family: Lato, sans-serif;
    text-align: center;
    color: rgba(61, 42, 31, 0.88);
}

::-moz-placeholder {
    opacity: 0.85;
}

#festival-description-text,
#edit-festival-description-text{
    padding: 5px 47px 0 47px;
    height: 890px;
    width: 263px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: left;
    border: none;
    outline: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgba(16, 12, 14, 0.71);
    background-color: rgba(120, 91, 86, 0.55);
}

@media screen and (max-width: 500px) {
    [id *= "submit"] {
        width: 80%;
        margin: 10px auto auto;
    }

    input[type=text]{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
    [id *= "form"]{
        left: 0;
        right: 0;
        margin: auto;
        float: none;
        text-align: center;
        padding-right: 0px;
        width: 85%;

    }
}