/* ------- GLOBAL ------- */

body {
    margin: 0;
    background-color: rgba(142, 91, 75, 0.66);
    overflow-y: auto;
    overflow-x: auto;
}
/* ------- END GLOBAL ------- */

.navigation {
    overflow: hidden;
    background-color: #462929;
}

.logo {
    margin-top: 60px;
    margin-left: 40px;
    font-family: "Monoton", cursive;
    font-size: 42px;
    color: rgba(130, 143, 176, 0.85);
}

.search {
    margin-top: 40px;
    margin-left: 370px;
    margin-bottom: 28px;
    padding: 7px;
    /* float: left; */
    overflow: hidden;
    z-index: 1;
}

.search a {
    padding: 14px 16px;
    display: block;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#search-box {
  display: inline-block;
}

.search input[type=text] {
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 6px 5px 5px;
    width: 440px;
    display: inline-block;
    font-size: 18px;
    border: none;
    background-color: rgba(123, 139, 168, 0.85);
}

.search button {
    margin: -60px 10px 5px 10px;
    padding: 10px 12px;
    width: 75px;
    height: 55px;
    display: inline-block;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(123, 139, 168, 0.85);
    font-family: Ubuntu, sans-serif;
    color: #3d2a2a;
}


.search ::placeholder {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: rgba(54, 54, 73, 0.82);
}

.search ::-moz-placeholder {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: rgba(54, 54, 73, 0.82);
    opacity:  1;
}

.advanced-search {
    margin-top: 7px;
    margin-left: 10px;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 21px;
    z-index: 5;
    color: rgba(175, 144, 134, 0.9);
}

#popup-advanced {
    margin-top: -130px;
    position: absolute;
    display: none;
}

.menu {
    margin-top: 20px;
    /* When Administration button shows the styling breaks */
    /* margin-left: 328px; */
    float: left;
}

.menu a {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 23px;
    color: rgb(168, 138, 143);
}

.menu a:hover {
    color: #c9c8c8;
}

.menu-btn {
    padding: 8px 62px;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-style: none;
    z-index: 1;
    outline: none;
    background-color: transparent;
}

.user-buttons {
    /* margin-top: 145px; */
    float: right;
}

.entrance-btn {
    padding: 17px 10px 11px 40px;
    float: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-style: none;
    z-index: 1;
    outline: none;
    color: #c1c1c1;
    background-color: transparent;
}

#sign-in-btn, #log-in-btn {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.profile-btn {
    padding: 15px;
    float: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 21px;
    border-style: none;
    z-index: 1;
    outline: none;
    color: #c1c1c1;
    background-color: transparent;
}

#admin-btn, #profile-btn, #log-out-btn {
    /* display: none; */
    float: left;
    overflow: hidden;
}

.entrance-btn,.profile-btn {
    background-color: rgba(128, 106, 109, 0.82);
}

@media screen and (max-width: 500px) {

    .navigation.responsive {
       position: relative;
    }

    .navigation {
        height: 748px;
    }

    .logo {
        position: relative;
        margin-left: 0px;
        width: 90%;
        display: block;
        text-align: right;
        color: rgba(147, 173, 223, 0.87);
    }
    .search {
        margin-top: 170px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 0px;
        width: 100%;
        display: block;
    }

    #search-box {
        display: block;
    }

    .search input[type=text] {
        margin-left: 0px;
        margin-bottom: 4px;
        padding: 10px;
        width: 100%;
        display: block;
        background-color: rgba(183, 157, 148, 0.66);
    }

    .search ::placeholder{
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        color: rgba(71, 55, 51, 0.84);
    }

    .search ::-moz-placeholder {
        opacity:  1;
    }

    .search button {
        position: relative;
        margin: auto;
        width: 85%;
        display: block;
        text-align: center;
        background-color: rgba(99, 106, 139, 0.64);
    }

    .advanced-search {
        margin-top: 38px;
        margin-bottom: 30px;
        padding: 0px 10px;
        width: 85%;
        display: block;
        text-align: right;
        color: rgba(182, 150, 139, 0.9);
        font-family: 'Ubuntu', sans-serif;
        font-weight: normal;
        font-size: 18px;
    }

    .advanced-search input[type=checkbox] {
        margin-top: 8px;
    }

    .user-buttons {
        margin: -50px 0;
        height: 500px;
        float: none;
    }

    .entrance-btn, .profile-btn {
        position: relative;
        margin: auto;
        display: block;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }

    #sign-in-btn, #log-in-btn, #admin-btn, #profile-btn, #log-out-btn {
        top: -350px;
        bottom: 0px;
        margin-right: 60px;
        margin-bottom: 8px;
        padding: 15px 0px;
        width: 90%;
        display: block;
        float: none;
        text-align: right;
        font-size: 18px;
        color: rgba(223, 213, 219, 0.85);
    }

    .entrance-btn, .user-btn:hover {
        background-color: transparent;
    }

    #sign-in-box, #log-in-box {
        margin: auto;
        width: 100%;
        float: none;
        z-index: 5;
    }

    #popup-entrance {
        position: unset;
        left: 0;
        margin-top: 90px;
        margin-left: 0;
        z-index: 5;
    }

    #popup-form {
        margin: auto;
        padding: 10px 0px 0px;
        width: 90%;
        float: none;
    }

    #popup-form hr {
        margin: 10px auto;
    }

    #popup-form input[type=text], #popup-form input[type=password] {
        margin-left: auto;
        width: 86%;
    }

    .popup-field, .repeat, #submit {
        margin: auto;
        display: block;
        float: none;
    }

    .repeat {
        margin-bottom: 30px;
    }

    #submit {
        width: 99.4%;
    }

    #close-btn {
       margin-top: 80px;
       right: 1px;
    }

    .menu {
        margin: auto;
        padding: 10px 0px;
        width: 85%;
        height: 200px;
        display: block;
        float: none;
        border: solid medium rgba(177, 155, 151, 0.82);
    }

    .menu-btn {
        position: relative;
        margin: auto;
        padding: 0px;
        width: 85%;
        display: block;
        float: none;
        text-align: center;
    }

    .menu-btn a {
        font-size: 21px;
        color: rgba(133, 144, 175, 0.63);
    }

    .menu-btn a:hover {
        color: rgb(168, 138, 143);
    }

    #home, #add-a-post, #movies, #movie-festivals {
        margin-bottom: 15px;
        padding: 9px 0px 0px 0px;
        width: 100%;
        display: block;
        float: right;
        text-align: center;
    }

}

/* -------POPUPS ------- */
#sign-in-box {
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    background-color: rgba(38, 38, 38, 0.86);
}

#log-in-box {
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    background-color: rgba(38, 38, 38, 0.86);
}

#popup-entrance {
    position: absolute;
    top: 17%;
    left: 50%;
    margin-left: -202px;
    font-family: 'Lato',sans-serif;
}

#popup-form {
    padding: 10px 50px;
    width: 380px;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    background-color: #795b5b;
}

#popup-form h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgba(53, 37, 38, 0.92);
}

#popup-form hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #de9f97;
}

#popup-form input[type=text], #popup-form input[type=password] {
    margin-top: 30px;
    margin-left: 85px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: solid medium #685053;
    background-color: rgba(222, 183, 171, 0.69);
}

#sign-password, #log-password, #sign-email, #log-email {
    background-repeat: no-repeat;
    background-position: 5px 7px;
}

.repeat {
    margin-bottom: 30px;
}

#popup-form ::placeholder {
    font-family: 'Lato', sans-serif;
    color: #463030;
}

#popup-form ::-moz-placeholder {
   opacity: 0.85;
}

#submit {
    padding: 10px 0;
    width: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #dbb1a1;
    border: 1px solid #685053;
    background-color: #5f4345;
}

#close-btn {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    border-radius: 5px;
}
/* -------END POPUPS ------- */
