#home, #add-a-post, #movies, #movie-festivals {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.desktop-headings {
    position: absolute;
}

.mobile-headings {
    display: none;
}

.mobile-headings button {
    outline: none;
}

.tables {
    margin-top: 170px;
}

.top-week, .shared-movies, .projections, .festivals {
    position: absolute;
    margin-left: 25px;
    padding-top: 10px;
    width: 420px;
    height: 34px;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    color: rgb(213, 213, 213);
    background-color: rgba(100, 34, 37, 0.36);
}

.top-week {
    margin-top: 80px;
    margin-left: 25px;
    margin-bottom: 0px;
    float: left;
}

.shared-movies {
    margin-top: 530px;
    margin-left: 25px;
}

.projections {
    margin-top: 530px;
    margin-left: 550px;
}

.festivals {
    margin-top: 530px;
    margin-left: 1075px;
}

.watch-later {
    position: absolute;
    margin-top: 146px;
    margin-left: 1074px;
    padding-top: 9px;
    width: 370px;
    height: 35px;
    /* display: none; */
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: rgba(247, 247, 247, 0.87);
    background-color: rgba(57, 70, 102, 0.61);
}

.top-week-tbl {
    position: absolute;
    margin-left: 25px;
    width: 951px;
    border-collapse: collapse;
}

.top-week-tbl th {
    padding: 5px 12px;
    height: 60px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(34, 4, 8, 0.73);
    background-color: rgba(101, 61, 51, 0.26);
}

.top-week-tbl td {
    padding: 18px;
    font-family: "Lato", sans-serif;
    font-size: 19px;
}

.top-week-tbl th, td {
    text-align: left;
}

.top-week i {
    border: solid #212d59;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-down {
    margin-top: -1px;
    margin-left: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-up {
    margin-top: 5px;
    margin-left: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-tables th {
    padding-left: 2px;
    height: 60px;
    font-family: "Lato", sans-serif;
    background-color: rgba(204, 106, 106, 0.47);
}

.down-tables td {
    padding-top: 3px;
    padding-left: 1px;
    font-family: "Lato", sans-serif;
    background-color: rgba(140, 143, 169, 0.41);
}

.down-tables th, td {
    text-align: left;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 19px;
}

.shared-movies-tbl, .projections-tbl, .festivals-tbl, .watch-later-tbl {
    position: absolute;
    width: 420px;
    border-collapse: collapse;
}

.shared-movies-tbl {
    margin-top: 450px;
    margin-left: 25px;
}

.projections-tbl {
    margin-top: 450px;
    margin-left: 550px;
}

.festivals-tbl {
    margin-top: 450px;
    margin-left: 1076px;
}

.watch-later-tbl {
    position: absolute;
    margin-left: 1074px;
    width: 370px;
    /* display: none; */
    background-color: rgba(93, 101, 127, 0.61);
}

.watch-later-tbl th {
    padding-left: 2px;
    height: 60px;
    font-family: Lato, sans-serif;
}

.watch-later-tbl td {
    padding-top: 3px;
    font-family: Lato, sans-serif;
    text-align: center;
}

.watch-later-tbl th, td {
    text-align: left;
}

@media screen and (max-width: 500px) {

    .desktop-headings {
        display: none;
    }

    .mobile-headings {
        display: block;
    }

    .top-week-btn {
        position: absolute;
        margin-top: 50px;
        display: block;
    }

    .shared-movies-btn {
        position: absolute;
        margin-top: 130px;
    }

    .projections-btn {
        position: absolute;
        margin-top: 210px;
    }

    .festivals-btn {
        position: absolute;
        margin-top: 290px;
    }

    .watch-later-btn {
        position: absolute;
        margin-top: 360px;
    }

    .top-week-btn, .shared-movies-btn, .projections-btn, .festivals-btn, .watch-later-btn {
        padding-top: 2px;
        margin-left: 10px;
        margin-bottom: 25px;
        width: 95%;
        height: 48px;
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-radius: 8px;
        color: rgba(226, 199, 204, 0.99);
    }

    .top-week-btn, .shared-movies-btn, .projections-btn, .festivals-btn {
        border: medium rgba(165, 123, 121, 0.88);
        background-color: rgba(105, 52, 60, 0.48);
    }

    .watch-later-btn {
        display: none;
        border-color: rgba(109, 118, 143, 0.87);
        background-color: rgba(22, 72, 127, 0.5);
    }

    .top-week-tbl, .shared-movies-tbl, .projections-tbl, .festivals-tbl, .watch-later-tbl {
        /* display: none; */
    }

    .shared-movies-tbl, .projections-tbl, .festivals-tbl {
        margin-left: 0px;
        width: 100%;
    }

    .top-week-tbl {
        margin-top: -40px;
        margin-left: 0px;
        width: 100%;
        z-index: 5;
    }

    .top-week-tbl th, .top-week-tbl td, .down-tables td {
        background-color: rgb(156, 105, 104);
    }

    .top-week-tbl th {
        padding: 5px 10px;
        font-size: 17px;
    }

    .top-week-tbl td {
        padding: 28px 10px 12px;
        font-size: 16px;
    }

    .top-week-tbl i{
        position: absolute;
        padding: 5px;
    }

    .arrow-up{
        margin-top: 20px;
        margin-left: 3px;
        position: absolute;
        display: block;
    }

    .arrow-down{
        margin-top: 20px;
        margin-left: 23px;
        position: absolute;
        display: block;
    }

    .down-tables td {
        text-align: center;
    }

    .title{
        font-size: 17px;
    }

    .description{
        font-size: 16px;
    }

    .shared-movies-tbl {
        margin-top: 40px;
        z-index: 4;
    }

    .projections-tbl {
        margin-top: 120px;
        z-index: 3;
    }

    .festivals-tbl {
        margin-top: 200px;
        z-index: 2;
    }

    .watch-later-tbl {
        margin-top: 212px;
        margin-left: 38px;
        width: 80%;
        /* display: none; */
        z-index: 1;
        background-color: rgba(22, 47, 93, 0.75);
    }

    .watch-later-tbl td{
        background-color: rgba(114, 123, 149, 0.31);
    }
}
