
.post-title,
.public-comments-title {
    border-radius: 8px;
    outline: none;
    color: rgba(77, 82, 106, 0.85);
    background-color: transparent;
}

.post-title {
    margin: 80px 0 0 667px;
    width: 95px;
}

.public-comments-title {
    margin: 50px 0 0 667px;
    width: 115px;
}

.add-comment-btn {
    margin-top: 12px;
    margin-left: 659px;
    padding: 8px 13px;
    font-size: 24px;
    border: none;
    color: rgba(195, 165, 157, 0.75);
    background-color: rgba(49, 66, 90, 0.64);
}

.public-comments-scroller {
    width: 1506px;
    height: 400px;
}

#public-comments-container {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    float: none;
    z-index: 5;
}

#new-comment-container,
#edit-comment-container {
    position: fixed;
    top: 0;
    margin: auto;
    width: 1519px;
    height: 100%;
    display: none;
    overflow: hidden;
    z-index: 5;
    background-color: rgba(71, 56, 51, 0.86);
}

#post-box {
    margin-top: 40px;
    margin-left: 330px;
}

#public-comments-box {
    margin-left: 12px;
}

#new-comment-box,
#edit-comment-box {
    margin: 240px auto  auto 555px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

#new-comment-form,
#edit-comment-form {
    padding-right: 40px;
    width: 340px;
    height: 280px;
    border-radius: 8px;
    background-color: #ac8a83;
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: rgba(2, 1, 1, 0.99);
}

#edit-comment-form {
    background-color: #8e6e66;
}

#edit-comment-text {
    background-color: rgba(179, 154, 147, 0.55);
}

::placeholder {
    color: #3d2a1fde;
}

table th {
    height: 60px;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #213648;
    width: 200px;
}

table td {
    padding: 0 18px 18px 18px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.post-tbl {
    color: rgb(54, 40, 38);
    border-collapse: collapse;
}

.public-comments-tbl {
    display: inline-block;
    min-height: 400px;
    height: auto;
    color: #213648;
    background-color: #7e696d54;
    border-collapse: collapse;
}

.post-tbl th,
.post-tbl td {
    background-color: rgba(128, 93, 82, 0.31);
}

.post-tbl th {
     width: 206px;
     color: #3b2c2c;
}

.post-tbl td {
    height: 80px;
}

.public-comments-tbl th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.col-movie {
    padding-left: 115px;
    padding-right: 0;
}

.col-rating {
    padding-left: 84px;
    padding-right: 10px;
}

.col-public-comment {
    padding-left: 120px;
}

.col-public-user {
    padding-left: 120px;
}

.col-public-user-rating {
    padding-left: 220px;
}

.col-public-comments-options {
    padding-left: 115px;
    padding-right: 110px;
}

.row-post {
    padding-left: 32px;
}

.row-movie {
    padding-left: 133px;
}

.row-rating {
    padding-left: 90px;
}

.row-public-comment {
    padding-left: 120px;
}

.row-public-user {
    padding-left: 140px;
}

.row-public-user-rating {
    padding-left: 223px;
}

.row-public-comments-options {
    padding-top: 40px;
    padding-left: 132px;
}

.row-public-comments-options button {
    margin-bottom: 5px;
    font-family: Maven Pro, sans-serif;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 8px;
}

.edit-comment-btn,
.delete-comment-btn {
    margin-top: 8px;
    padding: 10px 18px;
    display: block;
    color: rgba(42, 44, 65, 0.84);
    background-color: rgba(73, 79, 96, 0.26);
}

.edit-comment-btn {
    margin-right: 3px;
    margin-left: 43px;
}

.delete-comment-btn {
    margin-left: 30px;
}

#new-comment-close-btn,
#edit-comment-close-btn {
    margin-top: 165px;
    margin-right: 520px;
    float: right;
}

@media screen and (max-width: 500px) {

    .post-title,
    .public-comments-title {
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        float: none;
    }

    .post-title {
        margin-top: 70px;
    }

    .public-comments-scroller {
        margin: 32px auto auto auto;
        width: 95%;
        height: 350px;
    }

    #public-comments-container {
        position: relative;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: block;
        float: none;
    }

    #new-comment-container,
    #edit-comment-container {
        margin: auto;
        width: 100%;
        float: none;
        z-index: 5;
    }

    .add-comment-btn {
        margin: 20px auto auto;
        width: 119px;
        display: block;
        font-size: 22px;
        float: none;
    }

    #post-box,
    #public-comments-box {
        position: relative;
        margin: 0 auto auto auto;
        padding: 0;
        width: 100%;
        height: 370px;
        display: block;
        float: none;
        z-index: 5;
        text-align: center;
    }

    #post-box {
        margin: 30px auto auto auto;
        width: 90%;
        height: 290px;
    }

    #new-comment-form,
    #edit-comment-form {
        margin: auto;
        padding: 10px 0;
        width: 90%;
        height: 250px;
        float: none;
        text-align: center;
    }

    .post-tbl,
    .public-comments-tbl {
        margin: auto;
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .post-tbl th {
        padding-top: 20px;
        width: 100%;
    }

    .public-comments-tbl th {
        padding-bottom: 0;
    }

    .post-tbl [class *= "row"],
    [class *= "row-public"],
    .col-post,
    .col-public-comment {
        width: unset;
        float: none;
        text-align: center;
        position: relative;
        font-size: 21px;
        display: block;
        margin-left: auto;
        padding: 0;
    }

    .col-public-comment {
        padding-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 0;
        font-size: 23px;
    }

    [class *= "col"]:not(.col-post):not(.col-public-comment) {
        display: none;
    }

    .row-public-comment {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .row-public-user {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .row-public-user-rating {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .row-public-comments-options {
        padding: 2px 2px 40px 2px;
    }

    .row-public-comments-options button {
        margin: 10px auto;
        display: block;
        text-align: center;
        font-size: 21px;
    }

    #submit-new-comment,
    #submit-comment-changes {
        margin: 10px auto auto auto;
        width: 87%;
    }

    #new-comment-close-btn,
    #edit-comment-close-btn {
        margin: 200px auto auto auto;
    }
}