
/*elements, grouped by types */

[class *= "title"] {
    position: relative;
}

.watchlater-title {
    margin: 80px 0 0 664px;
}

.posts-title {
    margin: 80px 0 0 678px;
    padding-left: 25px;
    padding-right: 25px;
    width: 95px;
}

.projections-title {
    margin: 50px 0 0 320px;
    width: 120px;
}

.exchanges-title {
    margin: -130px 0 0 1045px;
}

.projection-btn,
.exchange-btn {
    position: relative;
    margin-top: 10px;
    margin-left: 325px;
    padding: 8px 12px;
    font-size: 21px;
    border: none;
    color: #b29085;
    background-color: rgba(31, 20, 16, 0.64);
}

.exchange-btn {
    margin: 10px 0 0 1055px;
}

.watchlater-scroller {
    width: 897px;
}

.posts-scroller {
    width: 1487px;
}

.comments-scroller {
    width: 1248px;
    height: 370px;
}

.projections-scroller,
.exchanges-scroller {
    margin-top: 32px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    height: 300px;
}

.exchanges-scroller {
    margin-left: 49px;
}

.users-scroller {
    width: 217px;
    height: 100px;
}

[id *= "container"]:not(#users-watchlater-container):not(#posts-container):not(#projections-exchanges-container) {
    position: fixed;
    top: 0;
    margin: auto;
    width: 1519px;
    height: 100%;
    display: none;
    overflow: hidden;
    z-index: 5;
    background-color: rgba(71, 56, 51, 0.86);
}

#users-watchlater-container {
    margin-top: 27px;
}

#users-watchlater-container::placeholder {
    color: #3b4954;
}

#posts-container {
    margin-top: 30px;
}

#projections-exchanges-container {
    display: flex;
    margin-bottom: 40px;
}

#projections-exchanges-container > div {
    display: inline-block;
}

#posts-container button,
#projections-exchanges-container button {
    margin-bottom: 4px;
    padding: 8px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #262a3ad9;
    background-color: rgba(113, 84, 74, 0.63);
}

#posts-container button {
    color: #23394cc7;
    background-color: rgba(137, 103, 97, 0.68);
}

#projections-exchanges button {
    color: rgba(26, 17, 13, 0.64);
}

#edit-projection-container p,
#edit-share-container p {
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}

#edit-projection-container ul,
#edit-share-container ul {
    margin-top: 0;
    padding-left: 25px;
    font-size: 19px;
    list-style-type: none;
}

#edit-projection-container li,
#edit-share-container li {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

#watchlater-box {
    margin-left: 160px;
    width: 790px;
    height: 290px;
}

#edit-details-box {
    left: 40px;
    display: inline-block;
    float: left;
}

#edit-password-box {
    margin-top: -290px;
    right: 50px;
    display: inline-block;
    float: right;
}

#posts-box {
    margin-left: 32px;
    height: 300px;
}

#comments-box {
    margin-top: 190px;
    margin-left: 140px;
}

#projections-box {
    margin-left: 32px;
    width: 717px;
    height: 300px;
}

#new-projection-box {
    margin-top: 180px;
    margin-left: 650px;
}

#edit-projection-box {
    margin-top: 100px;
    margin-left: 650px;
}

#exchanges-box {
    width: 678px;
}

#new-share-box {
    margin-top: 260px;
    margin-left: 650px;
}

#edit-share-box {
    margin-top: 220px;
    margin-left: 650px;
}

div:not(.advanced-search) > .checkbox-box > .check-mark, input[type=checkbox] {
     position: unset;
     margin-top: 4px;
     width: 23px;
     height: 23px;
     float: right;
}

.advanced-search input[type=checkbox] {
    position: absolute;
}

div:not(.advanced-search) > .checkbox-box > input:checked ~ .check-mark::after {
    position: unset;
    margin-top: 4px;
    margin-right: 8px;
    display: block;
    float: right;
}

#details-form {
    left: 32px;
}

#password-form {
    right: 32px;
}

[id *= "new"][id *= "form"] {
    background-color: #ac8a83;
}

[id *= "edit"][id *= "form"] {
    background-color: #8e6e66;
}

#details-form h2,
#password-form h2 {
    position: relative;
    float: none;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(53, 37, 38, 0.92);
}

#details-form h2 {
    margin: 10px auto 10px 50px;
}

#password-form h2 {
    margin: 10px auto 10px 43px;
}

#users-watchlater-container input,
#users-watchlater-container ::placeholder {
    color: #3f485b;
    border: solid medium #505868;
}

input {
    border: solid medium rgba(105, 81, 81, 0.92);
}

table:not(.watch-later-tbl) {
    display: inline-block;
    border-collapse: collapse;
}

table th {
    padding: 18px;
    height: 60px;
    width: 180px;
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #213648;
    background-color: rgba(64, 28, 28, 0.34);
}

table td {
    padding: 18px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: center;
}

.new-line {
    margin-left: 7px;
    display: inline-block;
}

.watch-later-tbl {
    width: 94%;
    z-index: 1;
    background-color: rgba(78, 43, 40, 0.39);
}

.watch-later-tbl th, td {
    text-align: left;
}

.watch-later-tbl th {
    padding-left: 2px;
    width: 128px;
}

.watch-later-tbl td {
    padding-top: 20px;
    padding-left: 5px;
    height: 50px;
    color: #23394c;
    background-color: rgba(78, 43, 40, 0.1);
}

.posts-tbl td {
  text-align: left;
}

.my-projections-tbl .new-line,
.my-exchanges-tbl .new-line{
   display: block;
    margin: 0;
}

[class *= "col-posts"] {
    padding: 0;
    width: 200px;
    color: rgba(3, 6, 34, 0.73);
    background-color: rgba(69, 78, 117, 0.26);
}

.col-posts-posts {
    padding-left: 200px;
}

.col-posts-comments {
    padding-left: 80px;
}

.col-posts-rating {
    padding-left: 100px;
}

.col-posts-date {
    padding-left: 90px;
}

.col-comments-btn {
    width: 175px;
    background-color: rgba(69, 78, 117, 0.26);
}

.comments-tbl [class *= "col-post"] {
    color: rgba(34, 4, 8, 0.73);
    background-color: rgb(153, 120, 112);
}

.col-post-rating {
    padding-right: 0;
    padding-left: 0;
}

[class *= "col-prj"] {
    width: 80px;
    color: #213648;
    background-color: rgba(64, 28, 28, 0.34);
}

.col-prj-name {
    padding-top: 43px;
    width: 160px;
}

.col-prj-duration {
    padding-top: 43px;
    padding-left: 13px;
    width: 130px;
}

.col-prj-options {
    padding-top: 18px;
    padding-right: 30px;
}

[class *= "col-exchanges"] {
    width: 128px;
    color: #213648;
    background-color: rgba(64, 28, 28, 0.34);
}

.col-exchanges-movies,
.col-exchanges-rating {
    padding-top: 43px;
}

.col-exchanges-rating {
    width: 191px;
}

.col-exchanges-options {
    width: 87px;
}

[class *= "row-posts"] {
    color: rgb(68, 77, 93);
}

.row-posts-posts {
    padding-left: 25px;
}

.row-posts-comments {
    padding-left: 170px;
}

.row-posts-rating {
    padding-left: 180px;
}

.row-posts-date {
    padding-left: 150px;
}

.row-comments-btn {
    padding: 18px 0 21px 20px;
}

.comments-tbl [class *= "row-post"] {
    width: 120px;
    color: rgb(60, 40, 34);
    background-color: rgb(153, 120, 112);
}

.comments-tbl .row-post-comment {
    width: 500px;
}

.comments-tbl .row-post-post {
    width: 200px;
}

[class *= "row-prj"] {
    color: #213648;
    background-color: rgba(64, 28, 28, 0.34);
}

[class *= "row-exchanges"] {
    padding: 20px;
    background-color: rgba(64, 28, 28, 0.34);
    color: #1e3242;
}

#comments-close-btn {
    position: absolute;
    top: 120px;
    right: 70px;
    cursor: pointer;
}

[id *= "projection"][id *= "btn"] {
    margin-top: 110px;
    margin-right: 575px;
    float: right;
    cursor: pointer;
}

#edit-projection-close-btn {
    margin-top: 35px;
}

[id *= "share"][id *= "btn"] {
    margin-top: 190px;
    margin-right: 575px;
    float: right;
}

#edit-share-close-btn {
    margin-top: 150px;
}

#users-watchlater-container [id *= "submit"]  {
    color: #b8a49c;
    background-color: #444e62;
}

[id *= "submit"]:not(#submit-details):not(#submit-password) {
    color: rgba(34, 5, 10, 0.76);
    background-color: #7b635e;
}

@media screen and (max-width: 500px) {

    [class *= "scroller"],
    [id *= "container"],
    #watchlater-box,
    #edit-details-box,
    #edit-password-box,
    #posts-box,
    #projections-box,
    #exchanges-box,
    #details-form,
    #password-form,
    .watchlater-title,
    .watch-later-tbl,
    .col-posts-posts,
    .row-posts-posts {
        display: block;
        float: none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }

    [class *= "title"] {
        display: block;
        font-size: 22px;
    }

    .watchlater-title {
        margin-top: 710px;
    }

    .posts-title {
        margin: 452px auto auto;
        width: 50px;
    }

    .projections-title {
        position: relative;
        margin: 30px auto auto;
        width: 108px;
    }

    .exchanges-title {
        margin: 362px auto auto;
        width: 108px;
    }

    .projection-btn,
    .exchange-btn {
        margin: 20px auto auto;
        width: 119px;
        display: block;
        font-size: 22px;
    }

    .exchange-btn {
        z-index: 5;
    }

    [class *= "scroller"]:not(.comments-scroller):not(.users-scroller) {
        width: 90%;
        height: 300px;
    }

    .watchlater-scroller {
        margin-top: 442px;
    }

    .posts-scroller {
        margin: 35px auto;
    }

    .comments-scroller {
        padding: 0;
        width: 100%;
    }

    .users-scroller {
        width: 94%;
    }

    .projections-scroller {
        margin-top: -494px;
    }

    .exchanges-scroller {
        margin: 32px auto auto auto;
    }

    [id *= "container"]:not(#users-watchlater-container):not(#posts-container):not(#projections-exchanges-container) {
        margin: auto;
        width: 100%;
        float: none;
        z-index: 5;
    }

    #users-watchlater-container {
        margin-top: -685px;
    }

    #posts-container,
    #projections-exchanges-container {
        width: 100%;
        margin: auto;
    }

    #projections-exchanges-container {
        display: grid;
        margin-bottom: 40px;
    }

    #comments-container {
        width: 100%;
    }

    #edit-projection-container p,
    #edit-share-container p {
        margin-left: auto;
    }

    #edit-projection-container li,
    #edit-share-container li {
        text-align: center;
    }

    #projections-box,
    #posts-box,
    #exchanges-box {
        padding: 0;
        width: 100%;
        height: 370px;
        text-align: center;
    }

    #edit-details-box {
        margin-top: 0;
    }

    #edit-password-box {
        margin-top: -705px;
    }

    #watchlater-box {
        width: 100%;
    }

    #comments-box {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-right: 0;
        width: 90%;
        float: none;
        text-align: center;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #new-projection-box,
    #new-share-box,
    #edit-projection-box,
    #edit-share-box {
        position: unset;
        left: 0;
        margin-top: 160px;
        margin-left: 0;
        z-index: 5;
    }

    #details-form,
    #password-form {
        transform: none;
    }

    #details-form h2,
    #password-form h2 {
        margin-left: auto;
    }

    #edit-projection-form {
        top: 48%;
    }

    #new-share-box {
        margin-top: 270px;
    }

    .posts-tbl .new-line,
    .my-projections-tbl .new-line,
    .my-exchanges-tbl .new-line {
        display: block;
        margin: -13px auto auto -18px;
        padding-top: 4px;
        height: 21px;
    }

    table:not(.watch-later-tbl) {
        margin: auto;
        width: 100%;
        display: inline-table;
        border-collapse: collapse;
        border-spacing: 0;
    }

    table th {
        font-size: 21px;
        padding-top: 14px;
        padding-bottom: 5px;
    }

    table td {
        font-size: 20px;
    }

    .watch-later-tbl {
        width: 100%;
    }

    .watch-later-tbl td {
        width: 10%;
        font-size: 20px;
    }

    .posts-tbl {
        display: block;
        text-align: center;
    }

    .posts-tbl td {
        text-align: center;
    }

    .comments-tbl {
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0;
        width: 100%;
        float: none;
    }

    .comments-tbl th,
    .comments-tbl td {
        background-color: rgb(153, 120, 112);
    }

    .arrow-up,
    .arrow-down {
        position: relative;
        padding: 6px;
        display: inline-block;
        float: none;
    }

    .arrow-down {
        margin-right: 15px;
    }

    .col-posts-posts {
        padding: 14px 0 5px;
    }

    .col-post-comment,
    .row-post-comment {
        width: 25%;
        margin: auto;
        text-align: center;
        border: 1px solid rgba(61, 42, 31, 0.78);
    }

    .col-prj-name {
        padding-top: 14px;
        padding-bottom: 0;
    }

    .col-exchanges-movies {
        padding-top: 5px;
    }

    [class *= "col-posts"],
    .comments-tbl [class *= "col-post"],
    [class *= "col-prj"],
    [class *= "col-exhanges"],
    [class *= "row-posts"],
    .comments-tbl [class *= "row-post"],
    [class *= "row-prj"],
    [class *= "row-exchanges"] {
        display: block;
        float: none;
        text-align: center;
        position: relative;
        width: unset;
        margin-left: 0;
    }

    .row-posts-posts {
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .row-comments-btn {
        display: block;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    .row-prj-name {
        padding-top: 0;
        padding-bottom: 0;
    }

    .row-prj-options button,
    .row-exchanges-options button {
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    .row-prj-name,
    .row-exchanges-movies {
        padding: 10px 0;
    }

    [class *= "col-posts"]:not(.col-posts-posts), .col-comments-btn,
    [class *= "row-posts"]:not(.row-posts-posts):not(.row-comments-btn),
    .comments-tbl [class *= "col-post"]:not(.col-post-comment),
    .comments-tbl [class *= "row-post"]:not(.row-post-comment),
    [class *= "col-prj"]:not(.col-prj-name),
    [class *= "row-prj"]:not(.row-prj-name):not(.row-prj-options),
    [class *= "col-exchanges"]:not(.col-exchanges-movies),
    [class *= "row-exchanges"]:not(.row-exchanges-movies):not(.row-exchanges-options) {
        display: none;
    }

    #comments-close-btn{
        margin-top: 240px;
        margin-right: auto;
        right: 0;
        top: 50%;
        margin-left: auto;
    }

    #new-projection-close-btn {
        margin: 260px auto auto auto;
    }

    #edit-projection-close-btn {
        margin: 320px auto auto auto;
    }

    #new-share-close-btn {
        margin: 132px auto auto auto;
    }

    #edit-share-close-btn {
        margin: 228px auto auto auto;
        left: 0;
        right: 0;
    }

    #submit-details,
    #submit-password {
        font-size: 22px;
    }
}