.add-a-movie {
    position: absolute;
    margin-top: 50px;
    margin-left: 690px;
    display: block;
    float: left;
    font-family: Lato, sans-serif;
    font-size: 35px;
    text-align: center;
    color: rgba(34, 45, 99, 0.93);
}

.movie-content {
    margin-top: 150px;
    width: 1519px;
    height: 1130px;
    background-color: rgba(125, 79, 68, 0.19);
}

.movie-content ::placeholder {
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    color: rgba(64, 43, 42, 0.65);
}

.movie-content ::-moz-placeholder {
    opacity: 1;
}

.fields {
    padding: 10px;
    width: 320px;
    height: 34px;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: rgb(213, 213, 213);
}

#up-header {
    position: absolute;
    width: 1509px;
    height: 80px;
    align-content: center;
    background-color: rgba(54, 66, 96, 0.2);
}

#up-header ::placeholder {
    color: rgba(42, 47, 77, 0.73);
}

#up-header input {
    border: solid medium rgba(72, 74, 99, 0.77);
    color: #37394c;
}

.movie-content input[type=text],
.movie-content input[type=number],
.movie-content input[type=url] {
    position: relative;
    margin-top: 5px;
    padding: 10px 20px 10px 20px;
    height: 38px;
    width: 177px;
    display: inline-block;
    float: left;
    font-size: 22px;
    text-align: left;
    border: solid medium rgba(106, 79, 82, 0.68);
    color: rgba(64, 43, 42, 0.65);
    background-color: transparent;
}

#title-field {
    margin-left: 310px;
}

#poster-field {
    margin-left: 428px;
}

.first-column {
    position: absolute;
    margin-top: 120px;
    margin-left: 130px;
}

.first-column > div {
    margin-top: 100px;
    margin-left: 180px;
    height: 42px;
    display: block;
}

#movie-category option {
    text-align: center;
    border: none;
    background-color: rgba(153, 88, 83, 0.42);
}

#movie-category select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.second-column {
    margin-left: 455px;
}

.second-column > div {
    margin-top: 100px;
    margin-left: 180px;
    height: 42px;
    display: block;
}

#language-field {
    margin-top: 224px;
}

#movie-release {
   margin-top: 318px;
}

#movie-release p {
    margin-top: 5px;
    margin-left: 0;
    padding: 16px 20px 15px;
    width: 177px;
    font-family: Lato, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    border: solid medium rgba(106, 79, 82, 0.68);
    color: rgba(64, 43, 42, 0.65);
}

#movie-release input[type=date] {
    position: relative;
    top: -8px;
    margin-left: 52px;
    font-family: Lato, sans-serif;
    font-size: 17px;
    text-align: center;
    border: none;
    color: rgba(78, 48, 50, 0.87);
    background-color: transparent;
}

#movie-description {
    margin-top: 108px;
    margin-left: 180px;
    height: 286px;
    display: block;
}

#movie-description textarea {
    margin-left: -50px;
    padding: 5px 47px 0 47px;
    height: 300px;
    width: 229px;
    font-family: Lato, sans-serif;
    font-size: 22px;
    text-align: left;
    border: none;
    outline: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    color: rgba(64, 43, 42, 0.65);
    background-color: rgba(70, 41, 41, 0.36);
}

#movie-description input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.third-column {
    margin-top: -737px;
    margin-left: 780px;
}

.third-column > div {
    margin-top: 100px;
    margin-left: 180px;
    height: 42px;
    display: block;
}

.duration-mins {
    margin-top: 83px;
    margin-left: 68px;
    width: 87%;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: rgba(78, 48, 50, 0.87);
}

input[type=number] {
    -moz-appearance: textfield;
}

#down-header {
    position: absolute;
    margin-top: 39px;
    width: 1519px;
    height: 80px;
    background-color: rgba(54, 66, 96, 0.2);
}

#add-a-movie {
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 640px;
    padding: 10px 40px 10px 40px;
    float: left;
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    border: solid medium rgba(74, 76, 102, 0.77);
    color: rgba(58, 62, 83, 0.85);
    background-color: transparent;
}

.MultiCheckBox {
    margin-top: 5px;
    padding: 16px 20px 15px 20px;
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border: solid medium rgba(106, 79, 82, 0.68);
    color: rgba(64, 43, 42, 0.65);
}

.MultiCheckBox .k-icon {
    margin-top: -7px;
    height: 10px;
    width: 20px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    color: rgba(70, 41, 41, 0.36);
}

.MultiCheckBoxDetail {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
    width: 160px;
    max-height: 350px;
    display: none;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: normal;
    overflow-y: hidden;
    z-index: 5;
    border: 1px solid #3d3d53;
    color: #423834;
    background-color: rgba(138, 105, 100, 0.98);
}

.MultiCheckBoxDetail .cont {
    padding: 2px;
    overflow: hidden;
    clear: both;
}

.MultiCheckBoxDetail .cont:hover {
    background-color: #9b7d74;
}

.MultiCheckBoxDetailBody > div > div {
    float:left;
}

.MultiCheckBoxDetail>div>div:nth-child(1) {}

.MultiCheckBoxDetailHeader {
    position: relative;
    height: 28px;
    display: none;
    overflow: hidden;
    background-color:#3d3d3d;
}

.MultiCheckBoxDetailHeader>input {
    position: absolute;
    top: 4px;
    left: 3px;
}

.MultiCheckBoxDetailHeader > div {
    position: absolute;
    top: 5px;
    left: 84px;
    color: #e4bcae;
}

@media screen and (max-width: 500px) {

    #home a, #movies a, #add-a-post a, #movie-festivals a {
        color: rgba(133, 144, 175, 0.63);
    }

    .movie-content {
        margin-top: 80px;
        height: 1811px;
        background-color: transparent;
    }

    .movie-content, #up-header, #down-header {
         width: 100%;
    }

    #up-header, .first-column, .second-column, .third-column {
        position: unset;
        top: 0;
        left: 0;
        margin: auto;
        display: block;
    }

    #up-header {
        padding: 2px 0 0 0;
        height: 190px;
    }

    #up-header input[type=text],
    #up-header  input[type=url],
    .first-column input[type=text],
    .second-column input[type=text],
    .third-column input[type=text],
    .third-column input[type=number] {
        position: relative;
        margin: 20px auto;
        display: block;
        float: unset;
        text-align: center;
    }

    .first-column > div, .second-column > div, .third-column > div {
        top: 0;
        left: 0;
        margin: 20px auto 10px auto;
        padding: 10px 0;
        width: 90%;
        display: block;
        text-align: center;
    }

    .first-column {
        margin-top: -25px;
    }

    #movie-category {
        margin-top: 40px;
    }

    .MultiCheckBox {
        margin: auto;
    }

    #movie-actors {
        margin-top: -10px;
    }

    #language-field {
        margin-top: 20px;
    }

    #movie-release {
        margin-top: 40px;
    }

    #movie-release p {
        margin: auto;
        float: none;
    }

    #movie-release input[type="date"] {
        margin-top: 20px;
        margin-left: 0;
        float: none;
    }

    #movie-description {
        margin: 60px auto 33px auto;
        padding: 0;
    }

    #movie-description ::placeholder {
        padding-right: 0;
    }

    #movie-description textarea {
        margin: auto;
        padding: 10px 0 20px 20px;
        width: 80%;
        float: none;
    }

    .duration-mins {
        margin-top: -10px;
        margin-left: 12px;
    }

    #movie-country {
        margin-top: 40px;
    }

    #add-a-movie {
        top: 0;
        left: 0;
        margin: 13px auto 10px auto;
        width: 80%;
        display: block;
        float: unset;
    }

    #down-header {
        margin-bottom: 0;
        height: auto;
    }
}
